openapi: "3.1.0"
info:
  title: "{ServiceName} API"
  description: "Generated by ORBIT Architecture Agent — replace this description."
  version: "1.0.0"
  contact:
    name: "AD Ports Platform Team"
    email: "platform@adports.ae"

servers:
  - url: "https://api.ai.adports.ae/api/v1/{service-name}"
    description: "Production"
  - url: "https://api-dev.ai.adports.ae/api/v1/{service-name}"
    description: "Development"

security:
  - bearerAuth: []

paths:
  /health/live:
    get:
      operationId: healthLive
      summary: Liveness probe
      security: []
      responses:
        "200":
          description: Service is alive
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"

  /health/ready:
    get:
      operationId: healthReady
      summary: Readiness probe
      security: []
      responses:
        "200":
          description: Service is ready to accept traffic
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service not ready
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ProblemDetails"

  # Add domain-specific endpoints below this line

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "Keycloak JWT token from realm ai-portal"

  schemas:
    HealthResponse:
      type: object
      required: [status]
      properties:
        status:
          type: string
          enum: [healthy, degraded, unhealthy]
        checks:
          type: object
          additionalProperties:
            type: string

    ProblemDetails:
      type: object
      required: [type, title, status]
      properties:
        type:
          type: string
          format: uri
          example: "https://orbit.adports.ae/problems/validation-error"
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        traceId:
          type: string
        errors:
          type: object
          additionalProperties:
            type: array
            items:
              type: string

    # Add domain entity schemas here using $ref to shared/specs/*.schema.json
